@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0c1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font */
.galada-regular {
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
}
.anek-bangla {
  font-family: "Anek Bangla", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.05em;
}
.anek-bangla-400 {
  font-family: "Anek Bangla", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
}
.anek-bangla-600 {
  font-family: "Anek Bangla", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.05em;
}
.anek-bangla-800 {
  font-family: "Anek Bangla", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0.05em;
}
